@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: white;
}

:root {
    --black: rgb(15, 15, 15);
    --border: rgb(36, 36, 36);
}

::selection {
    background-color: white;
    color: black;
}

body {
    font-family: "Inter";
    font-weight: 400;
    color: white;
    background: black;
    font-size: 14px;
}

.container {
    max-width: 1560px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

/* -------------------------------------------  header */

.header {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.header__logo {
    cursor: default;
    font-size: 16px;
    margin-right: auto;
    font-weight: 700;
}

.header__menu {
    display: flex;
    margin-left: 100px;
    justify-content: center;
    flex: 1;
}

.header__menu a {
    opacity: 0.6;
    margin: 0 10px;
    transition: 0.3s ease-in-out;
}

.header__menu a:hover {
    opacity: 1;
    margin: 0 10px;
}

.header__buttons {
    justify-content: flex-end;
    display: flex;
    gap: 20px;
}

.header__buttons__signin button {
    cursor: pointer;
    width: 103px;
    height: 57px;
    justify-content: center;
    align-items: center;
    padding: 20px 30px 20px 30px;
    border-radius: 600px;
    border: 0;
    color: white;
    font-weight: 500;
    background-color: #000000;
    transition: 0.3s ease-in-out;
}

.header__buttons__signin button:hover {
    cursor: pointer;
    width: 103px;
    height: 57px;
    justify-content: center;
    align-items: center;
    padding: 20px 30px 20px 30px;
    border-radius: 600px;
    border: 0;
    color: white;
    font-weight: 500;
    background: var(--black);
}

.header__buttons__signup button {
    cursor: pointer;
    width: 108px;
    height: 57px;
    justify-content: center;
    align-items: center;
    padding: 20px 30px 20px 30px;
    border: 1px solid var(--border);
    border-radius: 600px;
    color: white;
    font-weight: 500;
    background: var(--black);
    transition: 0.3s ease-in-out;
}

.header__buttons__signup button:hover {
    cursor: pointer;
    width: 108px;
    height: 57px;
    justify-content: center;
    align-items: center;
    padding: 20px 30px 20px 30px;
    border: 0;
    border-radius: 600px;
    color: var(--black);
    font-weight: 500;
    background: white;
    box-shadow: 0px 7px 46.8px 0px rgba(255, 255, 255, 0.2);
}

.main__photo {
    transition: 0.3s ease-in-out;
    position: relative;
    display: inline-block;
    width: 507px;
}

.main__photos {
    margin-top: 20px;
    display: flex;
    gap: 19px;
    transition: 0.3s ease-in-out;
    flex-wrap: wrap;
}

.main__photo:nth-child(3n) {
    margin-bottom: 19px;
}

.main__photo img {
    width: 100%;
    object-fit: cover;
    display: block;
    width: 507px;
    height: 500px;
    border-radius: 40px;
}

.main__photo__text {
    padding: 35px;
    position: absolute;
    top: 430px;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.main__photo:hover .main__photo__text {
    position: absolute;
    top: 440px;
    background: linear-gradient(180.00deg, rgba(0, 0, 0, 0),rgb(0, 0, 0) 137.6%);
    opacity: 1;
}

.main__photo__text__title {
    font-size: 16px;
    font-weight: 700;
    letter-spacing: -3%;
    font-size: 14px;
    color: rgb(255, 255, 255);
}

.main__photo__text__subtitle {
    margin-top: 5px;
    opacity: 0.8;
    color: rgba(255, 255, 255, 0.8);
    font-size: 14px;
    line-height: 17px;
    letter-spacing: -3%;
}

.main__search input {
    margin-top: 20px;
    width: 1560px;
    height: 67px;
    justify-content: flex-start;
    align-items: center;
    padding: 25px 10px 25px 20px;
    border: 1px solid var(--border);
    border-radius: 600px;
    background: var(--black);
    color: white;
    outline: none;
}
